<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.mapper.orderTypeMapper">
    <select id="listAll" resultType="orderType">
        select * from orderType
    </select>
    <insert id="insert">
        insert into ordertype values (12,"123","123")
    </insert>
    <delete id="del">
        delete from ordertype where orderTypeId=12
    </delete>
    <update id="update">
        update ordertype set orderTypeName = "changesuccess222" where orderTypeId=11
    </update>
</mapper>